body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

header {
    grid-column: 2 / -1;
}

.header-top,
.header-bottom {
    display: flex;
}

.header-top .user,
.header-bottom .user {
    display: flex;
}

.sidebar {
    grid-row: 1 / -1;

    background-color: rgb(0, 150, 255);
    color: white;
}

.sidebar h1 {
    padding-left: 40px;
}

.sidebar ul {
    list-style: none;
    margin-top: 40px;
    margin-bottom: 40px;
}

.sidebar li {
    margin-bottom: 15px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

main {
    grid-column: 2 / -1;

    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    grid-row: 1 / -1;
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.trending .trend {
    display: flex;
}